{% extends 'base.html.twig' %}

{% block title %}Regime{% endblock %}

{% block body %}
    <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;color: #067e00" >Regime</h1>

    <style>
        body{
            background-image: url("https://mlujw6er8qda.i.optimole.com/uwqD5xs-lbqoc_m4/w:800/h:534/q:auto/https://mag.qilibri.fr/wp-content/uploads/2020/09/iStock-1084491206.jpg");
            background-repeat: no-repeat;
            background-size: cover;


        }

    </style>


    <table class="table" border="2">
        <tbody>
            <tr>
                <th style="font-weight: bolder">Id</th>
                <td style="font-weight: bolder">{{ regime.id }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Aliments_autorises</th>
                <td style="font-weight: bolder">{{ regime.AlimentsAutorises }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Aliments_interdits</th>
                <td style="font-weight: bolder">{{ regime.AlimentsInterdits }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Petit_dejeuner</th>
                <td style="font-weight: bolder">{{ regime.petitDejeuner }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Collation1</th>
                <td style="font-weight: bolder">{{ regime.collation1 }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Dejeuner</th>
                <td style="font-weight: bolder">{{ regime.dejeuner }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Collation2</th>
                <td style="font-weight: bolder">{{ regime.collation2 }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Diner</th>
                <td style="font-weight: bolder">{{ regime.diner }}</td>
            </tr>
            <tr>
                <th style="font-weight: bolder">Conseils</th>
                <td style="font-weight: bolder">{{ regime.conseils }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('regime_index') }}">back to list</a>

    <a href="{{ path('regime_edit', {'id': regime.id}) }}">edit</a>

    {{ include('regime/_delete_form.html.twig') }}
{% endblock %}
